lab4/src/*
hw4/src/*.o
hw4/src/*.out
hw4/src/tags
*.zip
test/
practice/gdb/src/*.o
practice/gdb/src/*.out
hw4/bin/*
practice/gdb/src/tags
practice/gdb/bin/*
practice/ctag/src/tags
practice/ctag/bin/*
practice/ctag/src/*.o
